*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

.header-conainer{
    height: 10vh;
    width: 100%;
    background-color: #270059;
}

.container{
    height: 90vh;
    width: 100%;
    background-color: #ffffff;
}

.footer-container{
    height: 50vh;
    width: 100%;
    background-color: #420000;
}